.movies {
  margin-bottom: 28px;
  display: flex;
  flex-direction: column;
  width: calc(100% - 140px);
  max-width: 1140px;
  min-width: 292px;
  min-height: calc(100vh - 275px);
}

.movies__more-button {
  margin: 77px 0 53px 0;
  padding: 0;
  width: 320px;
  height: 36px;
  align-self: center;
  background-color: transparent;
  border-radius: 6px;
  border: 1px solid #424242;
  color: #FFF;
  font-size: 12px;
  font-weight: 500;
  cursor: pointer;
}

.movies__more-button:hover {
  opacity: .8;
}

@media screen and (max-width: 790px) {
  .movies {
    width: calc(100% - 60px);
    margin-bottom: 0;
    min-height: calc(100vh - 249px);
  }

  .movies__more-button {
    margin: 62px 0 80px 0;
  }

}

@media screen and (max-width: 600px) {
  .movies__more-button {
    width: 240px;
    height: 36px;
  }
}

@media screen and (max-width: 380px) {
  .movies {
    width: calc(100% - 20px);
    min-height: calc(100vh - 328px);
  }

  .movies__more-button {
    margin: 62px 0 78px 0;
}

}
