.profile {
  box-sizing: border-box;
  padding-top: 74px;
  max-width: 410px;
  width: 100%;
  min-height: calc(100vh - 74px);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile__greeting {
  margin: 0;
  padding: 0;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.profile__form {
  margin: 107px 0 0 0;
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.profile__input-container {
  width: 100%;
  min-height: 46px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.profile__form-field {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-size: 11px;
}

.profile__input-container:nth-child(1) {
  border-bottom: 1px solid #424242;
}

.profile__form-field_type_key {
  font-weight: 500;
}

.profile__form-field_type_value {
  color: #FFF;
  border: none;
  font-weight: 400;
  text-align: end;
  background-color: transparent;
}

.profile__actions {
  width: 100%;
  margin-top: 173px;
  min-height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.profile__form-error {
  margin: 0;
  padding: 0 0 20px 0;
  color: #FF004C;
  font-size: 11px;
  font-weight: 400;
  text-align: center;
}

.profile__button {
  margin: 16px 0 0 0;
  padding: 0;
  border: none;
  font-size: 13px;
  font-weight: 400;
  line-height: normal;
  background-color: transparent;
  cursor: pointer;
}

.profile__button_type_edit {
  color: #FFF;
}

.profile__button:hover {
  opacity: .8;
}

.profile__button_type_exit {
  color: #EE3465;
}


@media screen and (max-width: 790px) {
  .profile {
    min-height: calc(100vh - 74px);
    padding-top: 234px;
  }

  .profile__form {
    margin: 81px 0 178px 0;
  }
}

@media screen and (max-width: 600px) {
  .profile {
    width: calc(100% - 60px);
  }

}

@media screen and (max-width: 380px) {
  .profile {
    padding-top: 70px;
  }

  .profile__form {
    margin: 65px 0 347px 0;
  }

  .profile__button {
    font-size: 12px;
  }
}
