.controlled-input {
  width: 100%;
  min-height: 88px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.controlled-input_slim {
  min-height: 40px;
  gap: 0;
  margin: 3px 0;
}

.controlled-input__label {
  margin: 0;
  padding: 0;
  color: #8B8B8B;
  font-size: 10px;
  font-weight: 400;
}

.controlled-input__input {
  box-sizing: border-box;
  margin: 0;
  padding: 0 15px;
  border-radius: 8px;
  background: #2F2F2F;
  border: none;
  width: 100%;
  min-height: 46px;
  color: #FFF;
  font-size: 13px;
  font-weight: 500;
}

.controlled-input__input::placeholder {
  letter-spacing: 1.5;
}

.controlled-input__input:focus {
  outline: 1px solid #4285F4;
}

.controlled-input__input:disabled {
  color: #FFF;
  padding: 0;
  border: none;
  font-weight: 400;
  min-height: 40px;
  font-size: 11px;
  text-align: end;
  background-color: transparent;
}

.controlled-input__input_error-value {
  color: #EE3465;
}

.controlled-input__error {
  margin: -3px 0 0 0;
  padding: 0;
  color: #EE3465;
  font-size: 10px;
  font-weight: 400;
}

@media screen and (max-width: 790px) {
  .controlled-input__input {
    font-size: 11px;
  }
}
