.page-not-found {
  min-height: 100vh;
  max-width: 400px;
}

.page-not-found__section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-not-found__code {
  margin: 246px 0 0 0;
  padding: 0;
  font-size: 140px;
  font-weight: 400;
}

.page-not-found__about {
  margin: 4px 0 0 0;
  padding: 0;
  font-size: 16px;
  font-weight: 400;
}

.page-not-found__redirect-button {
  margin: 185px 0 0 0;
  padding: 0;
  border: none;
  background-color: transparent;
  color: #4285F4;
  font-size: 14px;
  font-weight: 400;
}

@media screen and (max-width: 790px) {
  .page-not-found__code {
    margin: 407px 0 0 0;
  }
}

@media screen and (max-width: 380px) {
  .page-not-found__code {
    font-size: 80px;
    margin: 329px 0 0 0;
  }

  .page-not-found__about {
    font-size: 12px;
    margin: 10px 0 0 0;
  }

  .page-not-found__redirect-button {
    font-size: 12px;
    margin: 285px 0 0 0;
  }

}
