.checkbox {
  display: flex;
  gap: 12px;
  align-items: center;
}

.checkbox__area {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  user-select: none;
}

.checkbox__input {
  position: absolute;
  z-index: -1;
  display: block;
  width: 34px;
  height: 14px;
  opacity: 0;
  cursor: pointer;
}

.checkbox__switch {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  width: 34px;
  height: 14px;
  border-radius: 10px;
  background: #EBEBEB;
  transition: .3s;
}


.checkbox__switch:before {
  content: '';
  display: inline-block;
  position: absolute;
  top: 2px;
  left: 3px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #F5F5F5;
  box-shadow: 0 3px 5px #0000004d;
  transition: .3s;
}

.checkbox__input:checked+.checkbox__switch {
  background: #3ddc84;
}

.checkbox__input:checked+.checkbox__switch:before {
  transform: translateX(19px);
  background: #ffffff;
}

.checkbox__name {
  margin: 0;
  padding: 0;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5;
}

@media screen and (max-width: 380px) {
  .checkbox__name {
    font-size: 11px;
    line-height: 1.63;
  }

  .checkbox {
    gap: 13px;
    margin: 9px 0 0 6px;
  }
}
