.project-nav {
  box-sizing: border-box;
  padding-bottom: 30px;
  max-width: 1200px;
  width: calc(100% - 80px);
  border-radius: 0 0 10px 10px;
  background: #272727;

}

.project-nav__list {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
}

.project-nav__item {
  display: block;
  width: 96px;
  min-height: 36px;
  margin: 0;
  padding: 0;
  border-radius: 10px;
  background: #303030;
  display: flex;
  align-items: center;
  justify-content: center;

}

.project-nav__link {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: #FFF;
  text-decoration: none;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.33;
  cursor: pointer;
  text-align: center;
}

.project-nav__link:hover {
  opacity: .7;
}


@media screen and (max-width: 790px) {
  .project-nav {
    width: calc(100% - 40px);
  }

}

@media screen and (max-width: 600px) {

  .project-nav__item {
    width: 82px;
    min-height: 26px;
  }

  .project-nav__link {
    font-size: 10px;
    line-height: 1.6;
  }
}

@media screen and (max-width: 380px) {
  .project-nav {
    width: calc(100% - 28px);
    padding-bottom: 17px;
  }

  .project-nav__list {
    gap: 6px;
  }
}
